# Database
POSTGRES_DB=svect
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=dev
POSTGRES_PORT=5432
POSTGRES_USER=dev

# Misc
NODE_ENV=development

# Security
SESSION_SECRET=dev

# Server
BASE_URL=https:localhost
NEST_PORT=3000

# Google
GOOGLE_CLIENT_ID=259288072431-s0073rb4lpi9vt95kk97bv87ue8toh4l.apps.googleusercontent.com
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=https://localhost/api/auth/google/callback

# JWT
JWT_SECRET=
JWT_EXPIRE_IN=1d
REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRE_IN=7d